:root {
  scrollbar-gutter: stable;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8 !important;
}
