:root {
  scrollbar-gutter: stable;
}

html {
  scrollbar-color: #d1d1d1 transparent;
  scrollbar-width: 12px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8 !important;
}
