:root {
  scrollbar-gutter: stable;
}

html {
  scrollbar-color: #d1d1d1 transparent;
  scrollbar-width: 12px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8 !important;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* Custom animation for a quick pop effect */
@keyframes note-pop-a {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1);
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
    filter: brightness(1.03);
  }
}

@keyframes note-pop-b {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1);
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
    filter: brightness(1.03);
  }
}

/* Animation for text fading in and up */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}
